@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

$medium-pink: #ec4c8b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: $medium-pink;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes slideright {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }

  80% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
